* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: darkblue;
}

#game-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px;
}

#game {
	border-spacing: 0;
}

.game-score {
	margin-top: 30px;
	font-size: 1.3rem;
	color: white;
}

.col {
	content: '';
	width: 20px;
	height: 20px;
	border: 2px solid rgba(245, 245, 245, 0.6);
	border-collapse: collapse;
}

.snakeHead {
	background-color: red;
}

.snakeBody {
	background-color: white;
}

.food {
	background-color: green;
}

.obstacle {
	background-color: black;
}

#menu {
	display: flex;
	justify-content: center;
}

#playButton,
#newGameButton {
	cursor: pointer;
	color: darkblue;
	font-size: 1.5rem;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}

#playButton:hover,
#newGameButton:hover {
	color: white;
	background-color: red;
}

#playButton:active,
#newGameButton:active {
	background-color: lightcoral;
}

#playButton.disabled:hover,
#playButton.disabled:active {
	color: unset;
	background-color: unset;
}
